body {
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: hsl(234, 12%, 34%);
    background-color: hsl(0, 0%, 98%);
}

h1,
.bold {
    font-weight: 200;
    font-size: 2.25rem;
    text-align: left;
}

.bold {
    line-height: .5;
    margin-top: 2%;
}

p {
    line-height: 2;
    color: hsl(229, 6%, 66%);
}

h2,
.bold {
    font-weight: 600;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

main {
    width: 90%;
    margin: 5rem auto;
}

/* Card styling  */

.cards {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    text-align: right;
    box-shadow: 0.125rem 0.375rem 0.625rem 0.0625rem hsl(229, 6%, 66%);
    padding: 3% 6%;
    margin: 5% 0;
    border-radius: 0.25rem;
}

.card h2,
.card p {
    text-align: left;
}

.one,
.two,
.three,
.four {
    border-top-width: 0.3125rem;
    border-top-style: solid;
}

.one {
    border-top-color: hsl(180, 62%, 55%);
    grid-area: supervisor;
}

.two {
    border-top-color: hsl(0, 78%, 62%);
    grid-area: builder;
}

.three {
    border-top-color: hsl(34, 97%, 64%);
    grid-area: karma;
}

.four {
    border-top-color: hsl(212, 86%, 64%);
    grid-area: calculator;
}

/* Tablet styling  */

@media screen and (min-width: 37.5rem) {

    body {
        align-content: flex-start;
        justify-content: flex-start;
        height: 100vh;
    }

    header {
        width: 40%;
        margin: auto;
    }

    main {
        margin: auto;
    }

    h1,
    .bold {
        text-align: center;
    }

    .bold {
        line-height: 1;
    }

    .cards {
        display: grid;
        grid-template: 1fr 1fr/ 1fr 1fr;
        grid-template-areas:
            "supervisor builder"
            "karma calculator";
        grid-column-gap: 3%;
    }
}



/* Desktop styling */

@media screen and (min-width: 68rem) {
    body {
        align-content: flex-start;
        justify-content: flex-start;
        height: 100vh;
    }

    header {
        width: 40%;
        margin: auto;
    }

    h1,
    .bold {
        text-align: center;
    }

    .bold {
        line-height: center;
    }

    main {
        margin: auto;
    }

    .cards {
        display: grid;
        grid-template: repeat(4, 1fr)/repeat(3, 1fr);
        grid-template-areas:
            ". builder ."
            "supervisor builder calculator"
            "supervisor karma calculator"
            ". karma .";
        grid-column-gap: 3%;
    }
}